#posts
  - @posts.each_with_index do |post,ndx|
    .post(class="#{'top' if ndx==0}")
      %h1.title
        = link_to post.title, post
      
      .date
        = post.posted_at.strftime('%B %d, %Y')
  
      - if @posts.size == 1
        .body
          = RedCloth.new(post.body).to_html
      - else
        .summary
          = h summary(post.body)
          
        .read_more
          = link_to "Read More...", post