%p
  = "#{@supporter.name},"
  
%p
  Thank you registering your support for the Charlotte 2.0 initiative.  By joining together 
  we have the best chance of having our voices heard.
  
%p
  As a member of this community, you understand the importance of creating a diverse and unique 
  environment that welcomes and fosters innovation.  While Charlotte is many things, a "tech hub" 
  we are not.
  
%p
  Hopefully, through our efforts, seeds can be planted.  By starting this dialogue, Charlotte ten 
  years from now might have its own "Silicon Alley," with more like-minded innovators creating 
  businesses that attract the type of talent we all need to grow and succeed.
  
%p
  Please take a moment to consider who else in our small community might benefit from bringing 
  a "web-focused workforce" to Charlotte.  Please send them a note, post a "Tweet" or even give 
  them a call and ask them to register their support at 
  = link_to "www.charlotte20.com", "http://www.charlotte20.com"
  \.
  
%p
  As we begin our conversations with our city representatives, we will continue to update everyone 
  on our discussions.  Hopefully, together, we can make a difference in our collective tomorrow.
  
%br
%p
  Best Regards,
  
%p
  %b
    The Charlotte 2.0 Initiative
    
%div(style="margin-top:40px; padding-top: 10px; border-top: 1px dotted #CCC;font-size:9px")
  This message was sent by The Charlotte 2.0 Initiative on 
  = Time.now
  through 
  = link_to "http://www.charlotte20.com", "http://www.charlotte20.com"