- unless @hide_sidebar_form
  #new_supporter
    = render :partial => "supporters/new"

#map
  = render :partial => "layouts/map"
      
#twitter
  = link_to image_tag("twit-bird.png", :border => "0"), "http://www.twitter.com/charlotte2dot0"
  
#linkedin
  %a(href="http://www.linkedin.com/e/vgh/2542875/eml-grp-sub/" target="_blank")
    C2.0 LinkedIn Networking Group
  = link_to image_tag("linkedin.png", :border => "0"), "http://www.linkedin.com/e/vgh/2542875/eml-grp-sub/", :target => "_blank" 

#all_posts
  = render :partial => "posts/list"