!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      = h(yield(:title) || "The Charlotte 2.0 Internet Initiative") 
    = javascript_include_tag "controllers/#{params[:controller]}"
    
    = stylesheet_link_tag 'compiled/deep_blue.css'
    
    = yield(:head)
  
  -# needed some extra hooks 
  %body{:id => controller.controller_name, :class => controller.action_name}
  
  #header
    = render :partial => 'partials/root/header'
    .clear
  
  -# blueprint wrapper
  %div{:class => 'container '}
    
    #masthead
      = yield :masthead
      .clear
      
    = yield :map
    
    -# wrapper need for bg image  
    #content
      #main-column{:class => 'span-16 first'}
        = yield
      
      #sidebar{:class => 'span-7 last' }
        %h2{:class => 'twitter'}
          @charlotte2dot0
        -# needed wrapper for sidebar to fix a margin issues
        .content
          = yield :sidebar
      .clear
      
    #supporters
      = render :partial => "supporters/deep_blue_list"
      
      
